<h1 class="h1">New game</h1>
<h2>Current Score: <%= @session[:score] %></h2>
<div class="letters-container">
<% @letters.each  do |letter| %>
<div class="letter"><%= letter %></div>
<% end %>
</div>
<form action="/score" method="POST" data-turbo="false">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<input id="letters" name="letters" type="hidden" value=<%= @letters.join("") %>/>
<p>What is the longest word you can find?:</p>
<div class="input-group input-group-lg mb-3">
  <input type="text" name="word" class="form-control" data-turbo="false">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary btn-lg" type="submit">Play</button>
  </div>
</div>
</form>
